<%= form_for(@pokemon) do |f| %>
  <% if @pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% @pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if params[:id] and not @pokemon.id %>
    <div class="field">
      <%= hidden_field_tag("pokemon[evolves_from_id]", params[:id]) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, "Name*" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type_id, "Type*" %><br>
    <%= f.collection_select(:type_id, Type.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="moves">
    <%= label_tag "Moves" %><br>
    <ol>
    <%= f.fields_for :pokemon_moves do |m| %>
      <%= render "move_fields", builder: m %>
    <% end %>
    </ol>
  </div>
  <div class="weaknesses">
    <%= label_tag "Weaknesses" %><br>
    <ul>
    <%= f.fields_for :weaknesses do |w| %>
      <%= render "weakness_fields", builder: w %>
    <% end %>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="note">
    <p><small>Fields with an asterisk (*) are required.</small></p>
  </div>
<% end %>
