<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pokemon.type_id %>
</p>

<% if @pokemon.moves.count > 0 %>
  <p><strong>Moves:</strong></p>
  <ol>
  <% @pokemon.moves.each do |move| %>
    <li><%= move.name %></li>
  <% end %>
  </ol>
<% end %>

<p><strong>Weaknesses:</strong></p>
<% if @pokemon.weaknesses.count > 0 %>
  <ul>
  <% @pokemon.weaknesses.each do |weakness| %>
    <li><%= weakness.type.name %></li>
  <% end %>
  </ul>
<% else %>
  <p>None</p>
<% end %>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>